<li>
  {{name}}

  {{#if eaten}}
  <button class="change-eaten" data-id="{{id}}" data-neweat="{{eaten}}">
    EAT ME!
  </button>
  {{else}}
  <button class="change-eaten" data-id="{{id}}" data-neweat="{{eaten}}" style="display: none;">
  </button>
  {{/if}}

  {{#if eaten}}
  <button class="delete-burger" data-id="{{this.id}}" data-neweat="{{eaten}}" style="display: none;">DELETE!</button>
  {{else}}
  <button class="delete-burger" data-id="{{this.id}}" data-neweat="{{eaten}}">DELETE!</button>
  {{/if}}

</li>